absl-py==0.13.0
batchgenerators==0.23
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.6
click==8.0.3
contextlib2==21.6.0
cycler==0.10.0
dicom2nifti==2.3.0
docopt==0.6.2
einops==0.3.2
filelock==3.1.0
future==0.18.2
gdown==3.13.1
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.40.0
h5py==3.4.0
hausdorff==0.2.6
huggingface-hub==0.1.2
idna==3.2
imageio==2.9.0
joblib==1.1.0
kiwisolver==1.3.2
linecache2==1.0.0
llvmlite==0.37.0
lmdb==1.2.1
Markdown==3.3.4
matplotlib==3.4.3
MedPy==0.4.0
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
ml-collections==0.1.0
monai==0.8.1
monai-weekly==0.8.dev2139
MultiScaleDeformableAttention==1.0
natsort==7.1.1
networkx==2.6.3
neurite==0.1
nibabel==3.2.1
nnunet==1.7.0
numba @ file:///tmp/build/80754af9/numba_1635185927556/work
numpy==1.21.2
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-contrib-python==4.5.4.58
packaging==21.0
pandas==1.3.4
Pillow @ file:///tmp/build/80754af9/pillow_1625655817137/work
pipreqs==0.4.11
protobuf==3.18.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydicom==2.2.2
pynrrd==0.4.2
pyparsing==2.4.7
PySocks==1.7.1
pystrum==0.1
python-dateutil==2.8.2
pytorch-ignite==0.4.6
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.1
SimpleITK==1.2.4
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
threadpoolctl==3.0.0
tifffile==2021.8.30
timm==0.4.12
tokenizers==0.10.3
torch==1.8.2
torchaudio==0.8.2
torchsummary==1.5.1
torchvision==0.9.2
tqdm==4.62.2
traceback2==1.4.0
transformers==4.12.5
ttach==0.0.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
unittest2==1.1.0
urllib3==1.26.6
voxelmorph==0.1
Werkzeug==2.0.1
yarg==0.1.9
